[submodule "code-examples"]
	path = code-examples
	url = git@github.com:codingsocialscience/code-examples.git
[submodule "figures"]
	path = figures
	url = git@github.com:codingsocialscience/figures.git
